extends paciente 
append variables 
  - var archivo = "js/cerrarSesion.js" 

block contenido 
  h3 Cerrar sesión 
  p Vas a cerrar la sesión, ¿estás seguro?
  button#btnSalir(class="btnSalir") Salir
  
