extends paciente 

block contenido 
  h2 Conocenos
  .datos 
    p Número de contacto: 657 657 657
    .datos--img
      img(src="img/ubicacion.jpeg", alt="")
    .datos--video 
      iframe(src="https://www.youtube.com/embed/_JDOGSkVMNY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

