block variables 
  - var archivo = "" 
doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/estilo.css")
    script(src= archivo) 
    title Servicio Salud
  body 
    .pagina 
      header  
        .cab--img 
          img(src="img/logo.jpg", alt="")
        h1 Atención Servicio de Salud
      nav 
        block menu
      section 
        block contenido 
      footer 
        p Realizado por Inmaculada Talavera Campos